/* nami.css */

/* Reset dan dasar */
body, h1, h4, p {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #fff4f6;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: auto;
    background: linear-gradient(to bottom, #fffdfd 0%, #ffe4ec 100%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Judul utama */
h1 {
    color: #d6336c;
    font-size: 2.5em;
    text-align: center;
    margin-bottom: 20px;
}

/* Subjudul */
h4 {
    color: #b71c50;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 1.3em;
    border-bottom: 2px solid #b71c50;
    padding-bottom: 5px;
}

/* Paragraf */
p {
    margin-bottom: 15px;
    font-size: 16px;
    text-align: justify;
}

/* Gambar */
img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

/* Responsif */
@media screen and (max-width: 600px) {
    body {
        padding: 10px;
    }

    h1 {
        font-size: 2em;
    }

    h4 {
        font-size: 1.1em;
    }

    p {
        font-size: 15px;
    }
}
